# Dependências Node
node_modules/

# Variáveis de ambiente
.env

# Arquivos de sistema
.DS_Store
Thumbs.db

# Builds/outputs de frameworks que não usamos mais
.next/
dist/

# Configurações locais de Netlify
.netlify/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
