# Dependências Node
node_modules/

# Variáveis de ambiente
.env

# Arquivos de sistema
.DS_Store
Thumbs.db

# Builds antigos
.next/
out/
dist/

# Netlify local
.netlify/

# Logs
npm-debug.log*
yarn-debug.log*
